.chatContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--guild-container-secondary);
  flex-shrink: 1;

  div.inputMessage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 44px;
    background-color: #40444b;
    border-radius: 8px;
    padding-left: 16px;
    border: none;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    outline: 0;
    flex-shrink: 1;
    div.buttonOption {
      margin: auto;
      & .button {
        background: #b9bbbe;
        width: 1px;
        height: 25px;
        min-width: 1px !important;
        min-height: 25px !important;
        border-radius: 50%;
        font-size: 7px;
      }
    }
    input {
      width: 100%;
      border: 0;
      background: transparent;
      display: flex;
      flex-shrink: 1;
      margin-left: 16px;
    }
  }
}

.chatContent .scrolled-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-color: var(--guild-container-background) var(--background-secondary) !important;
  scrollbar-width: thin;
  color: white;

  .scrollerSpacer {
    display: block;
    height: 20px;
    width: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
  }

  .empty {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -100%);
  }

  .message {
    display: flex;
    flex-direction: row;
    padding: 10px;

    &.mentioned-me {
      background: hsla(
        38,
        calc(var(--saturation-factor, 1) * 95.7%),
        54.1%,
        0.1
      ) !important;
      border-left: 2px solid
        hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
    }

    img.avatar {
      cursor: pointer;
      border-radius: 50%;
      width: 38px;
      height: 38px;
    }

    img.attachments {
      cursor: pointer;
      border-radius: 5px;
      max-height: 300px;
      min-height: 52px;
      object-fit: contain;
      width: auto !important;
    }

    .emojis {
      display: flex;
      margin-bottom: -0.5rem;
      padding-bottom: 0.25rem;
    }
    .emoji {
      border-radius: 0.5rem;
      cursor: pointer;
      margin-top: 4px;

      button {
        padding: 2px 6px;
        min-height: 23px;
        min-width: 44px;
        outline: 0;
        border-radius: 0.5rem;
        cursor: pointer;
        box-sizing: border-box;
        flex-shrink: 0;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        user-select: none;
        -webkit-transition: none 0.1s ease;
        transition: none 0.1s ease;
        transition-property: none;
        transition-property: background-color, border-color;
        background: hsla(
          235,
          calc(var(--saturation-factor, 1) * 85.6%),
          64.7%,
          0.15
        );
        border: 1px solid #5865f2;
      }
      span {
        margin: 0;
        border: 0;
        font-weight: inherit;
        font-style: inherit;
        font-family: inherit;
        font-size: 16px;
        vertical-align: baseline;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }

    img.d-emoji {
      min-width: 16px;
      min-height: 16px;
      max-height: 16px;
      max-width: 16px;
    }
    .contentMessage {
      width: 100%;
    }
    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      border-radius: 4px;
      color: var(--header-secondary);
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
      text-size-adjust: none;
    }
    .hljs-comment,
    .hljs-quote {
      color: var(--interactive-muted);
    }
    .hljs-addition,
    .hljs-keyword,
    .hljs-selector-tag {
      color: #859900;
    }
    .hljs-doctag,
    .hljs-literal,
    .hljs-meta .hljs-meta-string,
    .hljs-number,
    .hljs-regexp,
    .hljs-string {
      color: #2aa198;
    }
    .hljs-name,
    .hljs-section,
    .hljs-selector-class,
    .hljs-selector-id,
    .hljs-title {
      color: #268bd2;
    }
    .hljs-attr,
    .hljs-attribute,
    .hljs-class .hljs-title,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable {
      color: #b58900;
    }
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-meta .hljs-keyword,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-subst,
    .hljs-symbol {
      color: #cb4b16;
    }
    .hljs-built_in,
    .hljs-deletion {
      color: #dc322f;
    }
    .hljs-formula {
      background: #073642;
    }
    .hljs-emphasis {
      font-style: italic;
    }
    .hljs-strong {
      font-weight: 700;
    }
    pre {
      box-sizing: border-box;
      max-width: 90%;
      code {
        font-size: 0.875rem;
        line-height: 1.125rem;
        text-indent: 0;
        overflow: hidden;
        white-space: pre-wrap;
        scrollbar-width: thin;
        scrollbar-color: var(--background-tertiary) var(--background-secondary);
        background: var(--background-secondary);
        border: 1px solid var(--background-tertiary);
      }
    }

    .d-mention {
      cursor: pointer;
      span {
        background: hsla(
          235,
          calc(var(--saturation-factor, 1) * 85.6%),
          64.7%,
          0.3
        );
        color: hsl(236, calc(var(--saturation-factor, 1) * 83.3%), 92.9%);
      }
      // &:hover {
      //   color: #fff;
      //   background-color: hsla(
      //     235,
      //     calc(var(--saturation-factor, 1) * 85.6%),
      //     64.7%
      //   );
      // }
    }

    .embed-image {
      max-height: 300px;
    }

    .contentMessage {
      display: block;
      padding-left: 20px;

      .messageHeader {
        a,
        button {
          cursor: pointer;
          padding: 0;
          margin: 0;
          background: none;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.375rem;
          &:focus {
            text-decoration: underline;
          }
        }

        span {
          padding-left: 5px;
        }
      }
    }

    & .messageOptions {
      display: none;
      background-color: var(--background-primary);
      position: absolute;
      width: auto;
      height: 32px;
      margin-top: -20px;
      right: 20px;
      box-shadow: 0 0 0 1px rgba(4, 4, 5, 0.15);
      border-radius: 4px;
      align-items: center;
      justify-content: flex-start;
      &:hover {
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%),
          0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
      }
      .buttonOption {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 24px;
        padding: 5px;
        min-width: 24px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        color: var(--interactive-normal);
        cursor: pointer;
        position: relative;
        i {
          height: 17px;
        }
        &:hover {
          background-color: var(--background-secondary);
        }
      }
    }

    &:hover {
      //position: relative;
      background-color: var(--background-secondary);
      & .messageOptions {
        display: flex !important;
      }
    }
  }
}

.bot {
  background: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  height: 0.9375rem;
  padding: 0 0.275rem;
  margin-top: 0.075em;
  border-radius: 0.1875rem;
  line-height: 0.9375rem;
  margin-left: 0.25rem;
}
