:root {
  --guild-container-background: var(--background-tertiary);
  --guild-container-secondary: var(--background-primary);
  --guild-pill: var(--text-default);
}

i.icon {
  &.edit {
    mask-image: url(../../../node_modules/@fosscord/ui/icons/regular/edit.svg);
  }

  &.react {
    mask-image: url(../../../node_modules/@fosscord/ui/icons/regular/dizzy.svg);
  }

  &.arrow-down {
    mask-image: url("../../../node_modules/@fosscord/ui/icons/solid/arrow-down.svg");
    width: 10px;
  }

  &.arrow-right {
    mask-image: url("../../../node_modules/@fosscord/ui/icons/solid/arrow-right.svg");
    width: 10px;
  }
}

.channelContent {
  display: flex;
  flex-direction: column;
  width: calc(115.9% - 306px);
  div.header {
    display: flex;
    align-items: center;
    padding: 1px 17px;
    box-shadow: var(--elevation-low);
    border: none;
    z-index: 9999;
    height: 46px;
    .separator {
      height: 24px;
      width: 1px;
      background-color: #fff;
      opacity: 0.2;
      margin: 0 13px;
    }
    .description {
      font-size: 15px;
      color: #8a8c90;
    }
    .typeChannel {
      position: relative;
      height: 25px;
      width: 25px;
      font-weight: 600;
      flex: 0 0 auto;
      margin: 0 8px;
      color: var(--text-muted);
    }
    h1 {
      font-size: 16px;
      line-height: 20px;
      font-family: var(--font-display);
      font-weight: 600;
      color: #fff;
    }
  }
  .contentWrap {
    height: calc(100% - 60px);
    // .chatContent {
    //   max-width: calc(83.2% - 232px);
    // }
    .membersWrap.right {
      margin-top: 0px !important;
      width: 232px !important;
      .contentWrap {
        height: 40px !important;
      }
    }
  }
}

.sidebar-channels {
  position: relative;
  width: 240px;
  overflow-x: hidden;
  background-color: var(--background-secondary);

  .header {
    display: flex;
    align-items: center;
    padding: 1px 17px;
    box-shadow: var(--elevation-low);
    min-height: 46px;
    color: white;

    & .guild-title {
      font-size: 18px;
      font-weight: 550;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .scrolled-container {
      max-height: calc(100vh - 100px);
      overflow-y: auto;
      scrollbar-color: var(--guild-container-background)
        var(--background-secondary) !important;
      scrollbar-width: thin;
    }

    .list .item {
      flex: 1 1 auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: 0;
      padding: 6px 8px;
      cursor: pointer;
      border-radius: 4px;

      margin-left: 8px;
      margin-right: 8px;

      font-weight: inherit;
      font-style: inherit;
      font-family: inherit;
      font-size: 100%;

      .icon {
        position: relative;
        margin-right: 6px;
        width: 15px;
        height: 15px;
        color: #72767d;
        pointer-events: none !important;
      }

      svg {
        position: relative;
        margin-right: 6px;
        width: 12px;
        height: 12px;
        color: #72767d;
        pointer-events: none !important;
      }

      .channel-name {
        color: #829297;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        pointer-events: none !important;
      }

      .right {
        &.icon {
          width: 12px !important;
          height: 12px !important;
          color: #72767d !important;

          &.plus {
            width: 15px !important;
            height: 15px !important;
          }
        }

        pointer-events: all !important;
      }

      &.category {
        padding-top: 16px;
        margin-left: 0px;
        color: #829297;

        & svg {
          transition: transform 0.2s;
        }

        &:hover {
          background-color: transparent !important;
        }

        &.active {
          background-color: transparent !important;
        }
      }

      &.active {
        background-color: rgba(79, 84, 92, 0.24);

        p {
          color: #fff !important;
        }
      }

      &:hover {
        background-color: rgba(79, 84, 92, 0.16);

        .visibleOnHover {
          opacity: 1;
        }
      }
    }

    .settingsBar {
      height: 52px;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      padding: 0 8px;
      background-color: #292b2f;
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;

      .member {
        width: 125px !important;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 4px;
        height: 42px;
        padding: 8px 8px 0 2px;

        .image {
          margin-right: 12px;
          height: 42px;

          img {
            border-radius: 50%;
            width: 32px;
            height: 32px;
          }

          .indicator {
            position: relative;
            bottom: 1.09rem;
            left: 1.2rem;
            width: 0.8rem !important;
            height: 0.8rem !important;
          }

          .avatar-wrapper {
            border: 0.23rem solid var(--background);
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .avatar-wrapper .indicator {
            border: none;
            top: 3px;
            left: 0.2px;
            height: 15px;
            width: 15px;
            margin-bottom: 1px;
          }

          .indicator-wrapper {
            background: var(--background);
            height: auto;
            border-radius: 5px;

            position: relative;
            top: -15px;
            left: 15px;
          }
        }

        .contentWrap {
          display: flex;
          flex-direction: column;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-top: -10px;

          .name {
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 18px;
            font-weight: 600;
            color: #8e9297;
          }

          .description {
            font-size: 12px;
            line-height: 16px;
            color: #8e9297;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            contain: paint;
          }
        }
      }

      .buttonOption {
        cursor: pointer;
        padding: 4px 3px 0 2px;

        img {
          filter: invert(73%) sepia(72%) saturate(0%) hue-rotate(294deg)
            brightness(91%) contrast(87%);
          padding: 2px;
          //width: 17px;
        }

        &:hover {
          background-color: var(--background-primary);
        }
      }
    }
  }
}

.content:not(.network.page .content) {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;

  .topbar {
    background-color: var(--background-primary);
    box-shadow: var(--elevation-low);
    padding: 1px 17px;
    height: 57px;
    z-index: 999;
    width: calc(98% + 240px);

    header {
      display: flex;
      height: 48px;

      & h1.icon {
        font-size: 15px;
        padding-left: 4em;
      }

      & h1:not(.icon) {
        position: relative;
        top: 3px;
        font-size: 20px;
        line-height: 20px;
        padding-left: 0.5em;
      }
    }
  }
}

@media (min-width: 600px) {
  .topbar header h1.icon {
    padding-left: 0 !important;
  }

  .menuBtn {
    display: none;
  }

  .chatContent .empty {
    transform: translate(80%, -80%) !important;
  }

  .membersWrap {
    display: initial !important;
  }
}

.footer {
  position: relative;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 16px;
  z-index: 1;
  flex-direction: row-reverse;
  overflow-x: hidden;
  background-color: #2f3136;
  box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%) !important;

  button {
    margin: 10px;
    min-width: 100px;
  }
}

.guild.green .img:hover {
  background-color: hsl(139, calc(var(--saturation-factor, 1) * 60.3%), 43.9%);
}
