:root {
	--guild-container-background: var(--background-tertiary);
	--guild-container-secondary: var(--background-primary);
	--guild-pill: var(--text-default);
}

.content:not(.network.page .content) {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;

	.pageContent {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.sidebar {
		display: none;
	}

	.sidebar.show {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.topbar {
		background-color: var(--background-secondary);
		box-shadow: var(--elevation-low);

		header {
			display: flex;
			flex-direction: row;
			padding-left: 4em;

			h1 {
				padding-left: 0.5em;
			}

			h1:not(&.icon) {
				font-size: 1.3em;
			}
		}
	}

	.sidebar-channels {
		width: 240px;
		background-color: var(--background-secondary);

		.container {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;

			header {
				display: flex;
				align-items: center;
				padding: 1px 17px;
				box-shadow: var(--elevation-low);
			}

			input {
				font-size: 14px;
			}

			.list {
				width: 232px;
			}
		}
	}

	.chatContent {
		width: 100%;
		max-height: calc(100vh - 50px);
		display: flex;
		flex-direction: column;
		background-color: var(--guild-container-secondary);

		input {
			width: auto;
			height: 44px;
			background-color: #40444b;
			max-height: 50vh;
			border-radius: 8px;
			padding-left: 16px;
			border: none;
			margin: 20px;
			margin-top: 20px;
			margin-bottom: 30px;
			outline: 0;
		}
	}

	.chatContent .scrolled-container {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		overflow: auto;
		overflow-x: hidden;

		.message {
			display: flex;
			flex-direction: row;
			padding: 10px;
			padding-left: 20px;

			img {
				cursor: pointer;
				border-radius: 50%;
				width: 38px;
				height: 38px;
			}

			.contentMessage {
				display: flex;
				flex-direction: column;
				padding-left: 20px;

				.messageHeader {
					a {
						cursor: pointer;
					}

					span {
						padding-left: 5px;
					}
				}
			}

			&:hover {
				background-color: var(--background-secondary);
			}
		}
	}
}

@media (min-width: 600px) {
	.topbar header {
		padding-left: 0 !important;
	}

	.menuBtn {
		display: none;
	}

	.sidebar {
		display: flex !important;
	}

	.sidebar.show .guild-container {
		padding-top: 0.5em !important;
	}

	.sidebar-enabled {
		filter: none !important;
		user-select: all !important;
		pointer-events: all !important;
	}
}

.menuBtn {
	position: fixed;
	top: 0;
	left: 0;
	width: 66px;
	height: 58px;
}

.sidebar-enabled {
	filter: blur(3px);
	user-select: none;
	pointer-events: none;

	.topbar header {
		padding-left: 0 !important;
	}
}

.sidebar.friendList {
	width: 224px;
	padding: 0.5em;
	background-color: var(--background-secondary);
	display: flex !important;
}

.guild-container {
	display: flex;
	flex-direction: column;
	background-color: var(--guild-container-background);
	padding-top: 0.5rem;
	max-width: 66px;
}

.sidebar.show .guild-container {
	padding-top: 4.5rem;
}

.guild {
	display: flex;
	margin-right: 0.6rem;
	align-items: center;
	margin-bottom: 0.5rem;
	cursor: pointer;

	&.new-server {
		.img {
			background-color: darkgreen;
			color: white;
			font-weight: 700;
			font-size: 30px;
			margin: 0;
			padding: 0;
		}
	}
}

.guild.unread .pill {
	background-color: var(--guild-pill);
	height: 0.6rem;
	width: 0.25rem;
}

.guild.active {
	border-radius: 25%;
}

.guild .img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	transition: border-radius 0.1s ease, background-color 0.15s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background-primary);
	text-align: center;
	overflow: hidden;
	user-select: none;
	color: var(--text-default);
}

.guild .img:hover {
	background: var(--primary);
	color: var(--text-strong);
}

.guild.active img {
	border-radius: 35%;
}

.guild.active .pill {
	height: 2.5rem !important;
	width: 0.25rem;
	background-color: var(--guild-pill);
}

.guild.home a {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: var(--guild-container-secondary);
}

.guild.separator {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr {
	margin: 0 auto;
	padding: 0;
	margin-bottom: 0.5rem;
	width: 40%;
	border: none;
	border-bottom: 2px solid var(--guild-container-secondary);
}

.guild:hover .pill {
	height: 1.25rem;
	width: 0.25rem;
	background-color: var(--guild-pill);
}

.guild:hover .img {
	border-radius: 35%;
}

.guild .pill {
	height: 0rem;
	width: 0.25rem;
	background-color: transparent;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	margin-right: 0.3rem;
	transition: height 0.2s;
}
