.spinner {
	display: inline-block;
	position: relative;
	--size: 80px;
	--border-width: 8px;
	width: var(--size);
	height: var(--size);

	div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 80%;
		height: 80%;
		margin: var(--border-width);
		border: var(--border-width) solid #fff;
		border-radius: 50%;
		animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #fff transparent transparent transparent;

		&:nth-child(1) {
			animation-delay: -0.45s;
		}
		&:nth-child(2) {
			animation-delay: -0.3s;
		}
		&:nth-child(3) {
			animation-delay: -0.15s;
		}
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
