.tooltip {
	position: relative;
	cursor: pointer;
	.tooltip-text {
		position: absolute;
		z-index: 1;
		visibility: hidden;
		border: none;
		border-radius: 5px;
		padding: 7px;
		white-space: nowrap;
		text-align: center;
		&.black {
			background-color: black;
			color: white;
			--tooltip-arrow-color: black;
		}
		&.blue {
			background-color: #7688d4;
			color: white;
			--tooltip-arrow-color: #7688d4;
		}
		&.top {
			width: fit-content;
			bottom: 150%;
			margin-left: -75%;
		}
		&.bottom {
			width: fit-content;
			top: 150%;
			margin-left: -75%;
		}
		&.left {
			top: -5px;
			right: 110%;
		}
		&.right {
			top: -5px;
			left: 110%;
		}
	}

	.tooltip-text.top::after {
		content: " ";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: var(--tooltip-arrow-color) transparent transparent transparent;
	}

	.tooltip-text.bottom::after {
		content: " ";
		position: absolute;
		bottom: 100%; /* At the top of the tooltip */
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent var(--tooltip-arrow-color) transparent;
	}

	.tooltip-text.left::after {
		content: " ";
		position: absolute;
		top: 50%;
		left: 100%; /* To the right of the tooltip */
		margin-top: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent transparent var(--tooltip-arrow-color);
	}

	.tooltip-text.right::after {
		content: " ";
		position: absolute;
		top: 50%;
		right: 100%; /* To the left of the tooltip */
		margin-top: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent var(--tooltip-arrow-color) transparent transparent;
	}

	&:hover {
		.tooltip-text {
			visibility: visible;
			animation-name: openTooltip;
			animation-duration: 250ms;
			animation-fill-mode: linear;
		}
	}
}

@keyframes openTooltip {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
