@import "~@fosscord/ui/scss/general.scss";
@import "~@fosscord/ui/scss/text.scss";
@import "~@fosscord/ui/scss/icons.scss";

body {
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
input,
textarea,
button {
	background: var(--background-primary);
	color: var(--TEXT-default);

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html,
body,
.page,
#root {
	height: 100%;
	width: 100%;
}

html,
body {
	overflow: hidden;
}

.page-center {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.page.root {
	flex-wrap: nowrap !important;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #4a4d52;
    border: 2px solid #282a2d;
    border-radius: 10px;
}